# .env.example
CLICKHOUSE_HOST=localhost
CLICKHOUSE_HOST_DOCKER=olist_clickhouse
CLICKHOUSE_PORT=9000
CLICKHOUSE_USER=your_user
CLICKHOUSE_PASSWORD=your_password
CLICKHOUSE_DB=default

# Создай olist_dbt/profiles.yml для Airflow (см. olist_dbt/profiles.yml.example)